@tailwind base;
@tailwind components;
@tailwind utilities;

.bgg {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(5, 62, 87, 1) 50%,
    rgb(7, 21, 20) 100%
  );
}

.custom-shape-divider-bottom-1685378142 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1685378142 svg {
  position: relative;
  display: block;
  width: calc(195% + 1.3px);
  height: 420px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1685378142 .shape-fill {
  --tw-bg-opacity: 1;
  fill: rgb(230, 230, 227 / var(--tw-bg-opacity));
}

.former {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(17, 48, 58, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
}

.first {
  border-radius: 50px;
  background: #e6e6e3;
  box-shadow: 7px 7px 15px #c4c4c1, -7px -7px 15px #ffffff;
  /* border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  7px 7px 15px #bebebe,
             -7px -7px 15px #ffffff; */
}

.btn {
  background: linear-gradient(
    90deg,
    rgba(10, 9, 90, 1) 0%,
    rgba(5, 62, 87, 1) 50%,
    rgba(11, 123, 112, 1) 100%
  );
}

.more {
  background: #ef3548;
}

.text-color {
  background: linear-gradient(
    90deg,
    rgba(27, 41, 98, 1) 0%,
    rgba(17, 95, 115, 1) 50%,
    rgb(26, 184, 190) 100%
  );
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.animat {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.anima {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@media screen and (max-width: 1200px) {
  /* Laptop */
}

@media screen and (max-width: 992px) {
  /* Galaxy Tab */

  .i-am {
    font-size: large;
  }

  .nav{
    gap: 2rem;
  }

  

  .nav a{
    padding: 1rem;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    gap:0.5rem;
    display: grid;
    place-items: center;
    justify-items: center;
    align-items: center;
  }

   

  .landing {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    margin-top: 2rem;
  }

  .personal-image {
    margin-top: 4rem;
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 4px solid #ef3548;
    background-position: center;

  }

   .icons {
    justify-items: center;
    align-items: center;
    
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  /* Android Phone */

  .i-am {
    font-size: x-small;
  }

   .nav{
    gap: 6rem;
    
  }

  .nav a{
    width: 60%;
    height: 50%;
    gap:0.5rem;
    display: grid;
    place-items: center;
    justify-items: center;
    align-items: center;
    
  }

  .first-text {
    margin-top: 12rem;
   
  }

  .landing {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    margin-top: 2rem;
  }

  .personal-image {
    margin-top: 4rem;
    object-fit: cover;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    border: 4px solid #ef3548;
    background-position: center;
  }

  .icons {
    justify-items: center;
    align-items: center;
    
    object-fit: cover;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
